Subject: bug scr : command line problem

Date: Tue, 30 Sep 1997 13:26:24


Type: Question

Résumé du problème                  :


Fichier(s) qui pose(nt) problème(s) :


Platefome matérielle et système d'exploitation (résultat de « uname -a »):


Description détaillée du problème   :

