Linux.*/
Darwin/
Solaris/
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.sub
configure
install-sh
ltmain.sh
missing
depcomp
alliance/src/configure.in
alliance/src/ltmain.sh
dev/scripts/cppcheck/*
*.eps
*.aux
*.dvi
*.pdf
*.log
*.lst
archives/
cvsCommit.txt
gitCommit.txt
